<ion-view>
	<ion-content class="tj">
		<ion-slide-box slide-interval="3000"
						auto-play="true"
						does-continue="true">
			<ion-slide>
	            	<img src="http://y.gtimg.cn/music/photo_new/T003R720x288M0000009DE8x2fTDuA.jpg?max_age=2592000"/>
			</ion-slide>
			<ion-slide>
	           	 <img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000001k51P90qEY57.jpg?max_age=2592000"/>
			</ion-slide>
			<ion-slide>
	            	<img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000003Ckh8U0EKoqq.jpg?max_age=2592000"/>
			</ion-slide>
			<ion-slide>
	            	<img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000002MFArM0QR01e.jpg?max_age=2592000"/>
			</ion-slide>
			<ion-slide>
	            	<img src="http://y.gtimg.cn/music/photo_new/T003R720x288M000001yilIW4Cq3ks.jpg?max_age=2592000"/>
			</ion-slide>
		</ion-slide-box>
    		<div class="hot-dis-d padding">
    			<h2>电台</h2>
    			<ul>
    				<li>
    					<a href="#">
    						<img src="http://y.gtimg.cn/music/photo/radio/track_radio_199_13_1.jpg?max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>热歌</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<img src="http://y.gtimg.cn/music/photo/radio/track_radio_307_13_1.jpg?max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>一人一首招牌歌</p>
    					</a>
    				</li>
    			</ul>
    		</div>
    		
    		<div class="hot-dis-rd padding">
    			<h2>热门歌单</h2>
    			<ul>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;26.2万</span>
    						<img src="http://p.qpic.cn/music_cover/UuXq5S0NJhiaNAaXeTgXzL9KE0ZzcBpEQZcdM4SgUuedeibQSm33Gn7w/300?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>没钱请伴奏，我就用嘴唱给你听</p>
    						<p>Piggy</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;61.3万</span>
    						<img src="http://p.qpic.cn/music_cover/PiajxSqBRaELMiaFiadPqlaJ2aKqqDmAcvPCUgJPMZMxmyPUaWgVLTfzg/300?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>一人一首招牌歌</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;40.5万</span>
    						<img src="http://p.qpic.cn/music_cover/jXFicBvicUcfIWSoCNT1OrbFpUgkMoxCVLaPNBzH2BRAy5QL394DA6icg/300?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>放慢步调，听一曲温暖民谣</p>
    						<p>念葳蕊</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;24.9万</span>
    						<img src="http://p.qpic.cn/music_cover/fnBKJkkMMr5DoiadmlXsCV2ibAdDxda2gU3uJPk7EWM9fMibGnUMQMqjQ/300?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>浩室控福利|2016抖腿新曲</p>
    						<p>灵儿响叮当</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;249.6万</span>
    						<img src="http://y.gtimg.cn/music/photo_new/T005R600x600M000003EqVFT2a7qXe.jpg?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>世界上最伟大的吉他曲</p>
    						<p>数学病i</p>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<span class="ion-headphone icon-left">&nbsp;166.9万</span>
    						<img src="http://p.qpic.cn/music_cover/Q4m3mDoV7iawbriaZZkbj3IlW13qzIV2p2L4V2etDBFDgYqsEia7iaiaWPA/300?n=1&max_age=2592000"/>
    						<i class="icon ion-ios-play text-center"></i>
    						<p>扫盲辅导：独立老清新 — C86</p>
    						<p>●._Sidney。</p>
    					</a>
    				</li>
    			</ul>
    		</div>
 
 		<div class="footer text-center">
 			<p><a href="#">去客户端发现更多好音乐 ></a></p>
 			<h5>查看电脑版网页</h5>
 			<i></i>
 			<p>Copyright &copy; 1998-2016 Tencent All Right Reserved</p>
 		</div>
	</ion-content>
</ion-view> 